/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #dbdbdb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background-color:#fff;
}

button {
    background-color: #006eff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: #004db3;
}

p {
    margin-top: 20px;
}

p a {
    color: #006eff;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
