/* General */
body {
    font-family: 'Sen', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
}


/* Título principal */
h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 2rem;
    color: #4299e1;
}

/* Mensaje de error */
p {
    text-align: center;
    font-size: 1rem;
    color: red;
    margin-top: 1rem;
}

/* Formulario */
form {
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    font-size: 1rem;
    color: #333;
    margin-bottom: 0.5rem;
}

form input[type="text"],
form input[type="email"],
form input[type="file"] {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="file"]:focus {
    border-color: #4299e1;
    box-shadow: 0 0 5px rgba(66, 153, 225, 0.5);
}

/* Estilo para la imagen de perfil */
form img {
    display: block;
    margin: 1rem auto;
    border-radius: 50%;
    max-width: 150px;
}

/* Botón de envío */
button {
    display: block;
    width: 100%;
    padding: 1rem;
    background-color: #4299e1;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
}

button:hover {
    background-color: #2b6cb0;
}

/* Estilo para campos de formulario */
form input {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 0.75rem;
    font-size: 1rem;
}



/* Estilo general para el contenedor */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}
