body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    background-color: rgb(22, 22, 22);
    text-align: center;
}

h1 {

    color: whitesmoke;

}

h2 {

    color: whitesmoke;
    margin-bottom: 0;
    margin-top: 0;

}

.Foto {

    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 10px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;


}

@property --angulo{

    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
    
}

.Foto::after, .Foto::before {

    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angulo), blue, cyan, blue);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -5;
    padding: 10px;
    border-radius: 15px;
    animation: 3s girar linear infinite;
    border-radius: 50%;

}

.Foto::before {

    filter: blur(1.5rem);
    opacity: 0.8; 
  
}

@keyframes girar{

    from{
  
      --angulo: 0deg;
  
    } to {
  
      --angulo: 360deg;
  
    }
  
  }

#ContenedorFoto {

    display: flex;
    align-content: center;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 10px;

}

.Foto img {

    width: 180px;
    height: 180px;
    border-radius: 50%;
    display: inline;
    z-index: 5;
    
}

#ContenedorInfo1 {

    background-color: rgb(43, 43, 49);
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    width: 350px;

}

#ContenedorInfo2 {

    background-color: rgb(43, 43, 49);
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    width: 350px;

}

footer {

    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: rgb(43, 43, 49);

}

footer a {
    text-decoration: none;
    color: #0077ff;
}

p {

    color: white;
    font-size: 17px;

}

#CambiarIdioma {

    background-color: rgb(19, 18, 18);
    color: whitesmoke;
    border-radius: 15px;
    width: 70px;
    height: 40px;
    border: 2px, solid, whitesmoke;
    cursor: pointer;
    margin-top: 25px;

}

#CambiarIdioma {

    width: 120px;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff80;
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 1px solid #ffffff80;
    transition: 0.5s ease;
    user-select: none;
    margin-top: 20px;
    text-align: center;

}

#CambiarIdioma:hover, :focus {

    color: #ffffff;
    background: #008cff;
    border: 1px solid #008cff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff, 0 0 100px #008cff;

}


